input
{
    display: inline-block;
    margin: 4px 0 0 0;
}

.loginButton
{
    background: url(../images/loginBtn.png) no-repeat;
    width: 190px;
    height: 50px;
    border: none;
    outline: none;
    margin: auto;
}

.loginButton:hover
{
    background: url(../images/loginBtn_hover.png);
    border: none;
    outline: none;
}

.loginButton:active
{
    background: url(../images/loginBtn_press.png);
    border: none;
    outline: none;
}

.registerButton
{
    background: url(../images/registerBtn.png) no-repeat;
    width: 190px;
    height: 50px;
    border: none;
    outline: none;
}

.registerButton:hover
{
    background: url(../images/registerBtn_hover.png);
    border: none;
    outline: none;
}

.registerButton:active
{
    background: url(../images/registerBtn_press.png);
    border: none;
    outline: none;
}

input[type=text], input[type=password]
{
    border-radius: 10px;
    height: 40px;
    width: 100%;
    background-color: #fff5fa;
    font-size: 27px;
}

body
{
    margin: 0;
    background-color: #f9e1ed;
}