/*

    Base styles

*/

html{
    margin: 0;
    padding: 0;
}

.logo{
    outline: 1px solid #ffffff;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 329px;
    width: 306px;
    background: url("/images/logo.png");
    text-align: center;
}

.logo-header{
    outline: 1px solid #ffffff;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 49px;
    width: 47px;
    background: url("/images/logo.png");
    text-align: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
}

body
{
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 0;
    background-image: url("/images/space-bckg.jpg");
    background-position: 50% 50%;
    background-attachment: fixed;
}

#root-div{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background:linear-gradient(90deg,
    #9262D2 20%,
    #773DC5 20%, #773DC5 40%,
    #611BBD 40%, #611BBD 60%,
    #490B9C 60%, #490B9C 80%,
    #39087A 80%
    ) 0 0 / 100% .6em no-repeat,
    linear-gradient(-90deg,
            #9262D2 20%,
            #773DC5 20%, #773DC5 40%,
            #611BBD 40%, #611BBD 60%,
            #490B9C 60%, #490B9C 80%,
            #39087A 80%
    ) 0 100% / 100% .6em no-repeat;
    background-color: #ffffff;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

@media screen and (max-width:800px) {
    #root-div{
        width: 100vw;
        min-height: 100vh;
    }
}

@media screen and (min-width:801px) {
    #root-div {
        width: 800px;
        min-height: 95vh;
    }
}

#root-div table,
#root-div form{
    margin: auto;
}

/*

    Buttons styles

*/

.gwt-Button {
    color: #130269;
    background-color: #fff;
    border-color: #611BBD;
    padding: 11px 23px;
    border-width: 2px;
    margin: 2px;
    box-sizing: content-box;
    border-radius: 9px;
    min-width: 110px;
    font-size: 14px;
}

.gwt-Button:hover,
.gwt-Button:focus,
.gwt-Button:active,
.gwt-Button.active,
.open .dropdown-toggle.gwt-Button {
    color: #ffffff;
    background-color: #49247A;
    border-color: #130269;
}

.gwt-Button:active,
.gwt-Button.active,
.open .dropdown-toggle.gwt-Button {
    background-image: none;
}

.gwt-Button.disabled,
.gwt-Button[disabled],
fieldset[disabled] .gwt-Button,
.gwt-Button.disabled:hover,
.gwt-Button[disabled]:hover,
fieldset[disabled] .gwt-Button:hover,
.gwt-Button.disabled:focus,
.gwt-Button[disabled]:focus,
fieldset[disabled] .gwt-Button:focus,
.gwt-Button.disabled:active,
.gwt-Button[disabled]:active,
fieldset[disabled] .gwt-Button:active,
.gwt-Button.disabled.active,
.gwt-Button[disabled].active,
fieldset[disabled] .gwt-Button.active {
    background-color: #611BBD;
    border-color: #130269;
}

.gwt-Button .badge {
    color: #611BBD;
    background-color: #ffffff;
}

/*

    Style for inputs

*/
.gwt-TextBox, .gwt-PasswordTextBox{
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    margin: 10px;
    max-width: 450px;
    display: block;
}

.registerLabels{
    margin-left: 30px;
}

.error-box{

}

.header-panel{
    margin-top: 20px;
}

.header-panel h1{
    display: inline-block;
    vertical-align: middle;
}

/******************************************/

.login-page {

}

.login-page h1{
    display: inline-block;
}

.login-page input{
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.login-page .gwt-Button{
    width: 148px;
    display: inline-block;
    padding: 11px 3px;
}

/******************************************/

.register-page {

}

.register-page label{
    width: 600px;
    display: block;
    margin-right: 10px;
    text-align: right;
}

.register-page input{
    width: 170px;
    display: inline-block;
}

.header-panel{
    display: inline-block;
}
/******************************************/

.profile-page {

}

.profile-page p{
    text-align: left;
}

/******************************************/

.map-page {

}

/******************************************/

.chat-page {

}

/******************************************/

.basic-map-widget {
    width: 780px;
    height: 70vh;
}

/******************************************/

.menu-widget {
    width: 100%;
    margin-top: 10px;
    display: inline-block;
}

.menu-widget h1 {
    font-weight: bold;
    font-size: 20px;
    padding: 11px 23px;
    border-bottom: 1px gray dashed;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
    text-align: left;
}

/******************************************/

.invites-widget{
    text-align:left;
}

.invites-widget h1{
    font-weight: bold;
    font-size: 20px;
    padding: 11px 23px;
    border-bottom: 1px gray dashed;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
    text-align: left;
}

.invites-widget div{
    text-align: left;
    display:inline-block;
    vertical-align: middle;
    margin-right: 10px;
}
.invites-widget button{
    display: inline-block;
}